
@{
    ViewBag.Title = "Catholic Diocese of Enugu";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Catholic Diocese of Enugu</h2>
            <ol>
                <li><a href="~/Home">Home</a></li>
                <li>Catholic Diocese of Enugu</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section id="features" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="vertical-menu">
                    <a href="~/About/AboutParish">About CKP GRA Enugu</a>
                    <a href="~/About/ParishHistory">Parish History</a>
                    <a href="~/About/MassSchedule">Mass Schedule</a>
                    <a href="~/About/Staff">Staff</a>
                    <a href="~/About/ContactUs">Contact Us</a>
                    <a class="active" href="~/About/EnuguDiocese">Catholic Diocese of Enugu</a>
                    <a href="~/About/AboutBishop">About The Bishop</a>
                    <a href="~/About/AboutPopeFrancis">About Pope Francis</a>
                    <a href="~/About/Direction">Direction</a>
                    <a href="~/About/Employement">Employment</a>
                </div>
                @Html.Partial("_SpotLight")
            </div>
            <div class="col-sm-8  section-title aos-init aos-animate" data-aos="fade-up">
                <h2>
                    <strong> <span>About the Catholic Diocese of Enugu</span></strong>
                </h2><hr />
                     <div class="row">
                         <div class="col-sm-12"><img  title="Catholic Diocese of Enugu" width="100%" height="auto" src="~/Front_Content/img/CKP/EnuguDiosease.jpg"></div>
                       
                         <div class="col-sm-12">
                             <br />  
                                            <p>The Roman Catholic Diocese of Enugu is a diocese located in the city of Enugu in the Ecclesiastical province of Onitsha in Nigeria. On November 12, 1962, the Diocese of Enugu was erected from ecclesiastical territory gained from the Metropolitan Archdiocese of Onitsha. The Cathedral is Holy Ghost Cathedral in Enugu.</p>
                             <p>So it was also in this city founded on the top of hills when the messengers of peace published the good tidings of salvation in Christ Jesus. So onerous was their task then, but so rewarding are their efforts that we today speak of the Catholic Diocese of Enugu.</p>
                             <p>Indeed, the history of the Church in any part of the world is always associated with the story of indefatigable and dauntless missionary zeal of the lovers of the Word. The illumination of the territory of Enugu with the Word of God took various stages and turns.</p>
                             <p>Enugu was part and parcel of the Apostolic Prefecture of the Lower Niger, which His Holiness, Pope Leo XIII created in 1889 in acknowledgment of the efforts of Fr. Joseph Lutz and his team. Fr. Lutz was made the first Apostolic Prefect of this Prefecture.</p>
                             <p>He and his successors made relentless efforts to spread the Good News to the length and breadth of the new Prefecture. However, it was under Fr. Joseph Shanahan (later Bishop), as the fifth Apostolic Prefect of the Prefecture of Lower Niger, that the Good News of salvation in Christ Jesus had a grip on the soil of Enugu.</p>

                         </div>
                     </div></div>
                </div>
            </div>
</section>