
@{
    ViewBag.Title = "Mass Schedule";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Mass Schedule</h2>
            <ol>
                <li><a href="~/Home">Home</a></li>
                <li>Mass Schedule</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section id="features" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="vertical-menu">
                    <a href="~/About/AboutParish">About CKP GRA Enugu</a>
                    <a href="~/About/ParishHistory">Parish History</a>
                    <a class="active" href="~/About/MassSchedule">Mass Schedule</a>
                    <a href="~/About/Staff">Staff</a>
                    <a href="~/About/ContactUs">Contact Us</a>
                    <a href="~/About/EnuguDiocese">Catholic Diocese of Enugu</a>
                    <a href="~/About/AboutBishop">About The Bishop</a>
                    <a href="~/About/AboutPopeFrancis">About Pope Francis</a>
                    <a href="~/About/Direction">Direction</a>
                    <a href="~/About/Employement">Employment</a>
                </div>
                @Html.Partial("_SpotLight")
            </div>
            <div class="col-sm-8  section-title aos-init aos-animate" data-aos="fade-up">
                <div class="moduleBody">
                  
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">SUNDAY MASSES:</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;"><br></span><span style="font-size: 15.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">Sundays:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6:00 am.,&nbsp;&nbsp;8:00 am, 10:0 am,&nbsp; 6:00 pm</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><em><span style="font-size: 14.0pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 14.0pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">Sacrament of Penance (Confession)&nbsp;</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;"><br>Monday to Saturday</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">MORNING: </span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">immediately after morning mass. (At the confessional inside the church)<br><strong>AFTERNOON:</strong>starts From 11:45to 12pm (i.e 15 minutes before afternoon mass)</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">EVENING:</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">No confession in the evening<br style="mso-special-character: line-break;"><!-- [if !supportLineBreakNewLine]--><br style="mso-special-character: line-break;"><!--[endif]--></span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">WEEKDAY MASSES:</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;"><br>Monday– Saturday</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">MORNING PRAYERS (DIVINE OFFICE/PRAISE AND WORSHIP): </span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">5:30am- 6:00am</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp;</span></strong></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">MORNINGMASSES:</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">6:00am</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">AFTERNOON MASSES</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">12:00 pmNoon. (Except on Saturdays)</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; background: white;"><strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">EVENINGMASSES</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">: 6:00pm (Except on Saturdays)<br><br>&nbsp;</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal; background: white;" align="center"><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #990000;">HOLY DAYS</span></strong></p>
                    <div class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal;" align="center"><hr style="color: #4d4643;" align="center" noshade="noshade" size="0" width="100%"></div>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: center; line-height: normal; background: white;" align="center"><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">Here is a list of Holy Days of Obligation in the Enugu Diocese:<br><br>"In addition to Sunday, the days to be observed as holy days of obligation in Enugu Diocese, in conformity with canon 1246, are as follows:</span></p>
                    <p class="MsoNormal" style="text-align: justify; line-height: normal; background: white; margin: 0in 0in .0001pt 28.25pt;"><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">January 1</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp;- The Solemnity of Mary, Mother of God<br></span><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">August 15</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp;- The Solemnity of the Assumption of the Blessed Virgin Mary<br></span><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">November 1</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp;- The Solemnity of All Saints<br></span><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">December 8</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp;- The Solemnity of the Immaculate Conception (Except when this falls on a Sunday&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; in Advent)<br></span><strong><span style="font-size: 11.5pt; mso-bidi-font-size: 11.0pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">December 25</span></strong><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">&nbsp;- The Solemnity of the Nativity of Our Lord Jesus Christ</span></p>
                    <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: normal; background: white;"><span style="font-size: 11.5pt; font-family: 'Open Sans','sans-serif'; mso-fareast-font-family: 'Times New Roman'; color: #4d4643;">Whenever January 1, the Solemnity of Mary, Mother of God, or August 15, the Solemnity of the Assumption, or November 1, the Solemnity of All Saints, falls on a Saturday or on a Monday, the precept to attend Mass is abrogated."</span></p>
                    <p class="MsoNormal">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>