<br /> <br />
<div class="col-md-10">
    <div class="row spotlight-remove">
        <div class="barhd"></div>
        <div class="spotlight">

            <h5 class="text-center"><u>Parish Spotlight</u></h5>
            <dl class="">
                <dt>Sunday Masses Schedule</dt>
                <dd>Sunday:	06:00am, 08:00am, 10:00am &amp; 06:00pm</dd>
            </dl>

            <dl class="">
                <dt>Know Your Faith/Catholic Doctrine </dt>
                <dd>Sunday:	 5.00pm</dd>
            </dl>
            <dl class="">
                <dt>Weekday Masses Schedule</dt>
                <dd>Monday -  Friday: 6:00am &amp; 06:00pm </dd>
                <dd>Saturday: 06:00am</dd>
                @*<dd>Monday:	12:Noon (Students &amp; Staff)</dd>*@

            </dl>
            <dl class="">
                <dt>Baptism</dt>
                <dd>1st and 3rd Monday: 04:30pm</dd>
            </dl>
            <dl class="">
                <dt>Sacrament of Reconciliation</dt>
                <dd>After Morning Masses:	Saturday </dd>

            </dl>
            <dl class="">
                <dt>Parish Office Hours</dt>
                <dd>Monday - Friday: 07:30am - 05:00pm </dd>
            </dl>
            <dl class="">
                <dt>Father's Office Hours</dt>
                <dd>Every Wednesday</dd>
                <dd>Time: 07:30am - 11:30am </dd>
            </dl>
            <dl class="">
                <dt>Chapel of Perpetual Adoration</dt>
                <dd>Everyday: 07:00am - 07:30pm </dd>
            </dl>
            <dl class="">
                <dt>Catechism Classes (RCIA)</dt>
                <dd>Sunday: 04:00pm </dd>
            </dl>
            <dl class="">
                <dt>Visitation of the Sick (Sick Call)</dt>
                <dd>Every Tuesday</dd>
            </dl>
        </div>
    </div>
</div>
